<div class="container my-5">
  <h1>Edite o serviço:</h1>
  <%= render partial: "form", locals: { service: @service } %>
  <br>
  <p><%= link_to 'Voltar para lista de serviços', services_path %><p>
</div>
