<div class="container my-5">
  <h2><strong>Minha lista de serviços:</strong></h2>

  <% @services.each do |service| %>
    <h3><%= link_to service.title, service_path(service) %></h3>
  <% end %>

  <br>

  <p><%= link_to 'Novo serviço', new_service_path(@service) %><p>
</div>
