<div class="container my-5">
  <h2><strong>Minha lista de serviços:</strong></h2>

  <div class="card-product">
    <% @services.each do |service| %>
      <img src= <%= Service::IMAGES[service.title] %> >
      <div class="card-product-infos">
        <h2><%= link_to service.title, service_path(service) %></h2>
        <p><%= service.description %></p>
      </div>
    <% end %>
  </div>

  <%= link_to 'Novo serviço', new_service_path(@service), class: "btn btn-ghost mx-2" %>
</div>
