<div class="container my-5">
  <h2><strong>Meus Agendamentos</strong></h2>

  <div class="card-deck cards my-3">
    <% @bookings.each do |booking| %>
      <div class="card-product">
        <img src= <%= Service::IMAGES[booking.service.title] %> >
        <div class="card-product-infos">

          <p> R$<%= booking.total_price %> <%= booking.book_date %></p>
        </div>
      </div>
      <% end %>
  </div>

</div>
