h1, h2, h3 {
  color: #141414;
};

h4 {
  color: #141414;
  text-align: justify;
  text-justify: inter-word;
};

h5 {
  color: #720000;
  font-weight: bold;
  text-align: justify;
  text-justify: inter-word;
};
