<%= simple_form_for [booking] do |f| %>




   <%= f.input :duration, label: "Duração mínima do serviço (horas):" %>

    <div class="row">
      <%= f.submit "Confirmar", class: "btn btn-ghost mx-2" %>
    </div>

<% end %>
